@mixin weatherIcons {
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        li {
            text-align: center;
            width: 12.5%;
            margin: auto;
            font-family: $first_font;
            font-size: 150%;
            b.now {
                display: block;
                position: absolute;
                width: 12%;
                text-align: center;
            }
            > svg {
                position: relative;
                top: 2.5px;
            }
            > img {
                width: 30%;
                margin-top: 10px;
            }
        }
    }
}

@mixin h2 {
    h2 {
        text-align: center;
        width: 100%;
        margin: 20px auto;
    }
}

.content {
    margin: 40px;
    h1 {
        width: 100%;
        margin: auto;
        text-align: center;
        font-size: 300%;
    }
    .Browser {
        &-wrapper {
            text-align: center;
            width: 100%;
            margin: 20px auto;
        }
        &-search {
            font-size: 150%;
            input {
                width: 30%;
                outline: none;
                background: none;
                border: none;
                color: white;
                font-size: 120%;
                border-bottom: 0.5px solid white;
                &::-webkit-search-cancel-button {
                    cursor: pointer;
                }
                border-radius: 0;
	            -webkit-appearance: none !important;
            }
        }
        &-error {
            margin-top: 20px;
            font-size: 120%;
        }
    }
    .Weather {
        width: 80%;
        margin: 50px auto;
        .Weather {
            &-nav {
                width: 100%;
                margin: auto;
                text-align: center;
                ul {
                    padding: 0;
                    li {
                        display: inline-block;
                        margin: auto 30px;
                        font-size: 200%;
                        cursor: pointer;
                        transition-duration: 0.3s;
                        &:hover {
                            color: rgb(10, 10, 179);
                        }
                    }
                }
            }
            &-scores {
                border: 0.5px solid white;
                border-radius: 10px;
                border-collapse: separate;
                padding: 20px;
                overflow-y: hidden;
                svg {
                    position: relative;
                    top: 3px;
                }
            }
            &-now {
                .main {
                    text-align: center;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-bottom: 0.5px solid white;
                    * {
                        font-family: $first_font;
                    }

                    > h1 > svg {
                        position: relative;
                        top: 6px;
                    }
                    .info-feels-temp {
                        font-size: 150%;
                    }
                }
                .description {
                    font-family: $second_font;
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    margin-bottom: 30px;
                    font-size: 230%;
                    margin-bottom: 10px;
                }
                .icon {
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    img {
                        width: 7%;
                    }
                }
                .rest-info {
                    font-family: $first_font;
                    font-size: 155%;
                    display: flex;
                    flex-wrap: wrap;
                    .info {
                        &-container {
                            width: 33.3%;
                            text-align: center;
                            span {
                                display: block;
                                margin: 15px auto;
                            }
                            &:first-child {
                                text-align: left;
                            }
                            &:last-child {
                                text-align: right;
                            }
                        }
                    }
                }
                .alerts {
                    width: 100%;
                    border-top: 0.5px solid white;
                    text-align: center;
                    margin: auto;
                    font-size: 155%;
                    font-family: $first_font;
                    h2 {
                        margin-bottom: 0;
                    }
                    ul {
                        list-style-type: none;
                        padding: 0;
                        margin-top: 10px;
                    }
                }
            }
            &-daily {
                @include h2();
                .info {
                    @include weatherIcons();
                }
                .navigation-wrapper {
                    display: flex;
                    @include h2();
                    button {
                        background: none;
                        border: none;
                        color: white;
                        font-size: 200%;
                        cursor: pointer;
                        transition-duration: 0.3s;
                        &:hover {
                            color: gray;
                        }
                    }
                }
            }
            &-hourly {
                .navigation-wrapper {
                    display: flex;
                    @include h2();
                    button {
                        background: none;
                        border: none;
                        color: white;
                        font-size: 200%;
                        cursor: pointer;
                        transition-duration: 0.3s;
                        &:hover {
                            color: gray;
                        }
                    }
                }
                ul {
                    margin: 0;
                }
                @include weatherIcons();
            }
        }
    }
}
