@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Raleway:wght@100;200&display=swap");

@mixin weatherIcons {
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        li {
            text-align: center;
            width: 12.5%;
            margin: auto;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 150%;
            b.now {
                display: block;
                position: absolute;
                width: 12%;
                text-align: center;
            }
            > svg {
                position: relative;
                top: 2.5px;
            }
            > img {
                width: 30%;
                margin-top: 10px;
            }
        }
    }
}

@mixin h2 {
    h2 {
        text-align: center;
        width: 100%;
        margin: 20px auto;
    }
}

.header {
    text-align: center;
    h1 {
        font-size: 700%;
        width: 100%;
        margin: auto;
        .logo-wrapper {
            width: 100%;
            margin: 0;
            span {
                display: inline-block;
            }
            span:nth-child(2n) {
                color: rgb(150, 6, 150);
            }
        }
    }
    .desc {
        font-size: 150%;
        opacity: 0.8;
        width: 65%;
        margin: auto;
        margin-top: 40px;
        span {
            display: inline-block;
        }
    }
}
.footer {
    width: 100%;
    margin: auto;
    text-align: center;
    border-top: 0.5px solid white;
    margin-top: 90px;
}
.slider {
    width: 60%;
    margin: 45px auto;
    background-color: black;
    border-radius: 45px;
    overflow: hidden;
    img {
        border-radius: 45px;
        opacity: 0.8;
    }
}

.content {
    margin: 40px;
    h1 {
        width: 100%;
        margin: auto;
        text-align: center;
        font-size: 300%;
    }
    .Browser {
        &-wrapper {
            text-align: center;
            width: 100%;
            margin: 20px auto;
        }
        &-search {
            font-size: 150%;
            input {
                width: 20%;
                outline: none;
                background: none;
                border: none;
                color: white;
                font-size: 120%;
                border-bottom: 0.5px solid white;
                &::-webkit-search-cancel-button {
                    cursor: pointer;
                }
            }
        }
        &-error {
            margin-top: 20px;
        }
        &-loading {
            .loader {
                color: #ffff;
                font-size: 90px;
                text-indent: -9999em;
                overflow: hidden;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                margin: 72px auto;
                position: relative;
                -webkit-transform: translateZ(0);
                -ms-transform: translateZ(0);
                transform: translateZ(0);
                -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
                animation: load6 1.7s infinite ease, round 1.7s infinite ease;
            }
            @-webkit-keyframes load6 {
                0% {
                    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
                        0 -0.83em 0 -0.477em;
                }
                5%,
                95% {
                    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
                        0 -0.83em 0 -0.477em;
                }
                10%,
                59% {
                    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
                        -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
                }
                20% {
                    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
                        -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
                }
                38% {
                    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
                        -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
                }
                100% {
                    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
                        0 -0.83em 0 -0.477em;
                }
            }
            @keyframes load6 {
                0% {
                    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
                        0 -0.83em 0 -0.477em;
                }
                5%,
                95% {
                    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
                        0 -0.83em 0 -0.477em;
                }
                10%,
                59% {
                    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
                        -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
                }
                20% {
                    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
                        -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
                }
                38% {
                    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
                        -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
                }
                100% {
                    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em,
                        0 -0.83em 0 -0.477em;
                }
            }
            @-webkit-keyframes round {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
            @keyframes round {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
        }
    }
    .Weather {
        width: 80%;
        margin: 50px auto;
        .Weather-nav {
            width: 100%;
            margin: auto;
            text-align: center;
            ul {
                padding: 0;
                li {
                    display: inline-block;
                    margin: auto 30px;
                    font-size: 200%;
                    cursor: pointer;
                    transition-duration: 0.3s;
                    &:hover {
                        color: rgb(10, 10, 179);
                    }
                }
            }
        }
        .Weather {
            &-scores {
                border: 0.5px solid white;
                border-radius: 10px;
                padding: 20px;
                svg {
                    position: relative;
                    top: 3px;
                }
            }
            &-now {
                .main {
                    text-align: center;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-bottom: 0.5px solid white;
                    * {
                        font-family: "Noto Sans KR", sans-serif;
                    }

                    > h1 > svg {
                        position: relative;
                        top: 6px;
                    }
                    .info-feels-temp {
                        font-size: 150%;
                    }
                }
                .description {
                    font-family: "Raleway", sans-serif;
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    margin-bottom: 30px;
                    font-size: 230%;
                    margin-bottom: 10px;
                }
                .icon {
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    img {
                        width: 7%;
                    }
                }
                .rest-info {
                    font-family: "Noto Sans KR", sans-serif;
                    font-size: 155%;
                    display: flex;
                    flex-wrap: wrap;
                    .info {
                        &-container {
                            width: 33.3%;
                            text-align: center;
                            span {
                                display: block;
                                margin: 15px auto;
                            }
                            &:first-child {
                                text-align: left;
                            }
                            &:last-child {
                                text-align: right;
                            }
                        }
                        &-alerts {
                            width: 100%;
                            border-top: 0.5px solid white;
                            text-align: center;
                            margin: auto;
                            h2 {
                                margin-bottom: 0;
                            }
                            ul {
                                list-style-type: none;
                                padding: 0;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
            &-daily {
                @include h2();
                .info {
                    @include weatherIcons();
                }
            }
            &-hourly {
                .navigation-wrapper {
                    display: flex;
                    @include h2();
                    button {
                        background: none;
                        border: none;
                        color: white;
                        font-size: 200%;
                        cursor: pointer;
                        transition-duration: 0.3s;
                        &:hover {
                            color: gray;
                        }
                    }
                }
                ul {
                    margin: 0;
                }
                @include weatherIcons();
            }
        }
    }
}
